@model Exodus.ViewModels.VM_User
@{
    var lang = Exodus.Global.Global.Language;
}

<form class="row" action="@this.Url.Action("Upload", "Avatar")" data-update="/Account/View_Navigation" method="post" enctype="multipart/form-data">
    <div class="col-3 text-center">
        <img src="/Styles/dist/images/man.png" class="ex-avatar ex-avatar_medium ex-avatar_light mb-4">
        <img src="@Model.AvatarBig" class="ex-avatar ex-avatar_medium ex-avatar_light mb-4" style="margin-top:-190px">
        <div class="file-upload">
            <label>
                <input type="file" id="avatar" name="avatar"
                       accept=".jpg, .jpeg, .png">
                <span>@Exodus.Global.Localisation.Get("ChangePhoto", lang)</span>
            </label>
        </div>

    </div>
    <div class="col-9">
        <div class="row mb-4">
            <div class="col-4 d-flex align-items-center">
                <label>@Exodus.Global.Localisation.Get("YourEmail", lang) <span class="small">(основной)</span>:</label>
            </div>
            <div class="col-8">
                <input type="email" name="user-data-email" readonly class="form-control" value="@Model.UserEmail">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4 d-flex align-items-center">
                <label>@Exodus.Global.Localisation.Get("YourName", lang):</label>
            </div>
            <div class="col-8">
                <input type="text" name="user-data-first-name" class="form-control" value="@Model.UserFirstName">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4 d-flex align-items-center">
                <label>@Exodus.Global.Localisation.Get("YourLastName", lang):</label>
            </div>
            <div class="col-8">
                <input type="text" name="user-data-last-name" class="form-control" value="@Model.UserLastName">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4"></div>
            <div class="col-8 small text-muted">@Exodus.Global.Localisation.Get("DataChangesAfterConfirmation", lang)</div>
        </div>
        <div class="text-right">
            <button class="btn btn-outline-primary">@Exodus.Global.Localisation.Get("Submit", lang)</button>
        </div>
    </div>
</form>