@model Exodus.DTO.UserLoginByFacebookDTO
@using Exodus.Helpers
@{
    Layout = "~/Views/Shared/Layout_Langs.cshtml";
    var lang = Exodus.Global.Global.Language;
}

<div class="ex-welcome">
    <div class="ex-welcome__container">
        <div class="text-center mb-4">
            <img src="~/Styles/dist/images/logo-dark.png">
        </div>
        <div class="text-center mb-4">@Model.UserFirstName</div>
        <div class="text-center mb-4">@Model.UserLastName</div>
        <div class="text-center mb-4">ID: @Model.ID</div>
        <img src="@Model.PictureLarge" />
        <img src="@Model.PictureSmall" />
        <button onclick="">Enter FaceBook</button>
        <div class="text-center">
            <a href="@this.Url.Action("About", "Home")" class="text-black small">@Exodus.Global.Localisation.Get("MoreInfoAboutExodus", lang)</a>
        </div>
    </div>
</div>